.sign-up-page-child {
  position: absolute;
  top: 132px;
  left: 59px;
  background-color: var(--color-plum);
  width: 311px;
  height: 88px;
}
.sign-up2 {
  position: absolute;
  top: 154px;
  left: 151px;
  font-size: var(--font-size-17xl);
}
.email-id,
.username1 {
  position: absolute;
  top: 304px;
  left: 61px;
}
.email-id {
  top: 370px;
  left: 60px;
}
.mobile-no,
.password1 {
  position: absolute;
  top: 498px;
  left: 62px;
}
.mobile-no {
  top: 434px;
  left: 61px;
}
.sign-up-page-child1,
.sign-up-page-child2,
.sign-up-page-child3,
.sign-up-page-inner,
.sign-up-page-item {
  position: absolute;
  top: 297px;
  left: 180px;
  background-color: var(--color-plum);
  width: 222px;
  height: 40px;
}
.sign-up-page-child1,
.sign-up-page-child2,
.sign-up-page-child3,
.sign-up-page-inner {
  top: 362px;
}
.sign-up-page-child1,
.sign-up-page-child2,
.sign-up-page-child3 {
  top: 426px;
}
.sign-up-page-child2,
.sign-up-page-child3 {
  top: 490px;
}
.sign-up-page-child3 {
  top: 614px;
  left: 88px;
  border-radius: var(--br-31xl);
  width: 254px;
  height: 70px;
  cursor: pointer;
}
.sign-up3 {
  position: absolute;
  top: 626px;
  left: 148px;
  font-size: var(--font-size-17xl);
}

.sign-up3 a{
  color: black;
  text-decoration: none;
}
.sign-up-page {
  width: 100%;
  position: relative;
  background-color: var(--color-turquoise);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
