.home-page-child {
  position: absolute;
  top: 108px;
  left: 28px;
  background-color: var(--color-plum);
  width: 373px;
  height: 120px;
  border: 2px solid black;
}
.seven-wonders-of {
  position: absolute;
  top: 124px;
  left: 41px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 347px;
}
.home-page-child1,
.home-page-child2,
.home-page-child3,
.home-page-child4,
.home-page-inner,
.home-page-item,
.rectangle-div {
  position: absolute;
  top: 270px;
  left: 104px;
  border-radius: var(--br-xs);
  background-color: var(--color-plum);
  width: 222px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
}
.home-page-child1,
.home-page-child2,
.home-page-child3,
.home-page-child4,
.home-page-inner,
.rectangle-div {
  top: 327px;
}
.home-page-child1,
.home-page-child2,
.home-page-child3,
.home-page-child4,
.rectangle-div {
  top: 384px;
}
.home-page-child1,
.home-page-child2,
.home-page-child3,
.home-page-child4 {
  top: 441px;
}
.home-page-child2,
.home-page-child3,
.home-page-child4 {
  top: 498px;
}
.home-page-child3,
.home-page-child4 {
  top: 555px;
}
.home-page-child4 {
  top: 612px;
}
.chichn-itz,
.great-wall-of {
  position: absolute;
  top: 281px;
  left: 142px;
}
.chichn-itz {
  top: 338px;
  left: 167px;
}
.machu-picchu,
.petra {
  position: absolute;
  top: 395px;
  left: 194px;
}
.machu-picchu {
  top: 452px;
  left: 161px;
}
.christ-the-redeemer {
  position: absolute;
  top: 509px;
  left: 136px;
}
.colosseum,
.taj-mahal {
  position: absolute;
  top: 566px;
  left: 172px;
}
.taj-mahal {
  top: 623px;
  left: 178px;
}
.home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-turquoise);
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
} 
.great-wall-of a, .taj-mahal a, .colosseum a, .christ-the-redeemer a, .machu-picchu a, .petra a, .chichn-itz a{
  color: black;
  text-decoration: none;
}